<ion-header>
  <ion-toolbar>
    <ion-title>Admin Area</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button expand="block" size="large" color="danger" routerLink="/create-memo">
      Memo Blaster
    </ion-button>
    <ion-button expand="block" size="large" color="secondary" (click)="getSpreadSheet()">
      Excel-erate the Data
    </ion-button>
    <ion-item>
      TODO: loading spinner. <br>
      Working: {{ working }}
    </ion-item>
  </ion-card>
</ion-content>
