<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Daily Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoaded" padding>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="updateLogForm">
        <div *ngIf="!foundActivities" style="color: red">
          No activities have been activated in the app settings. The app will not function properly.
        </div>
        <ion-list>
          <ion-item>
            <ion-label>Log Date</ion-label>
            <ion-datetime formControlName="date" type="date" displayFormat="MMM DD YYYY" value="{{ (log | async)?.date }}"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="activities.relays.active">
            <ion-label>Relays</ion-label>
            <ion-input class="ion-text-right" formControlName="relays" type="number" value="{{ (log | async)?.relays }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.lateBags.active">
            <ion-label>Late Bags</ion-label>
            <ion-input class="ion-text-right" formControlName="lateBags" type="number" value="{{ (log | async)?.lateBags }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.directs.active">
            <ion-label>Directs</ion-label>
            <ion-input class="ion-text-right" formControlName="directs" type="number" value="{{ (log | async)?.directs }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.tieOuts.active">
            <ion-label>Tie Outs</ion-label>
            <ion-input class="ion-text-right" formControlName="tieOuts" type="number" value="{{ (log | async)?.tieOuts }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.signature.active">
            <ion-label>Signature</ion-label>
            <ion-input class="ion-text-right" formControlName="signature" type="number" value="{{ (log | async)?.signature }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.nonSignature.active">
            <ion-label>Non-Signature</ion-label>
            <ion-input class="ion-text-right" formControlName="nonSignature" type="number" value="{{ (log | async)?.nonSignature }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.customsCOD.active">
            <ion-label>Customs COD</ion-label>
            <ion-input class="ion-text-right" formControlName="customsCOD" type="number" value="{{ (log | async)?.customsCOD }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.nonBarcoded.active">
            <ion-label>Non-Barcoded</ion-label>
            <ion-input class="ion-text-right" formControlName="nonBarcoded" type="number" value="{{ (log | async)?.nonBarcoded }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.cpu.active">
            <ion-label>CPU</ion-label>
            <ion-input class="ion-text-right" formControlName="cpu" type="number" value="{{ (log | async)?.cpu }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.cpu11To50.active">
            <ion-label>CPU 11-50</ion-label>
            <ion-input class="ion-text-right" formControlName="cpu11To50" type="number" value="{{ (log | async)?.cpu11To50 }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.cpu51AndUp.active">
            <ion-label>CPU 51+</ion-label>
            <ion-input class="ion-text-right" formControlName="cpu51AndUp" type="number" value="{{ (log | async)?.cpu51AndUp }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.slb.active">
            <ion-label>SLB</ion-label>
            <ion-input class="ion-text-right" formControlName="slb" type="number" value="{{ (log | async)?.slb }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.depotTransfers.active">
            <ion-label>Depot Transfers</ion-label>
            <ion-input class="ion-text-right" formControlName="depotTransfers" type="number" value="{{ (log | async)?.depotTransfers }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.rpoClears.active">
            <ion-label>RPO Clears</ion-label>
            <ion-input class="ion-text-right" formControlName="rpoClears" type="number" value="{{ (log | async)?.rpoClears }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.latePrios.active">
            <ion-label>Late Prios</ion-label>
            <ion-input class="ion-text-right" formControlName="latePrios" type="number" value="{{ (log | async)?.latePrios }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.slbExtractions.active">
            <ion-label>SLB Extractions</ion-label>
            <ion-input class="ion-text-right" formControlName="slbExtractions" type="number" value="{{ (log | async)?.slbExtractions }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.manAndVan.active">
            <ion-label>Man and Van</ion-label>
            <ion-input class="ion-text-right" formControlName="manAndVan" type="number" value="{{ (log | async)?.manAndVan }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.stationMain.active">
            <ion-label>Station Main</ion-label>
            <ion-input class="ion-text-right" formControlName="stationMain" type="number" value="{{ (log | async)?.stationMain }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.virl.active">
            <ion-label>VIRL</ion-label>
            <ion-input class="ion-text-right" formControlName="virl" type="number" value="{{ (log | async)?.virl }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.boxChecks.active">
            <ion-label>Box Checks</ion-label>
            <ion-input class="ion-text-right" formControlName="boxChecks" type="number" value="{{ (log | async)?.boxChecks }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.fedex.active">
            <ion-label>Fedex</ion-label>
            <ion-input class="ion-text-right" formControlName="fedex" type="number" value="{{ (log | async)?.fedex }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.redBags.active">
            <ion-label>Red Bags</ion-label>
            <ion-input class="ion-text-right" formControlName="redBags" type="number" value="{{ (log | async)?.redBags }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.ported.active">
            <ion-label>Ported</ion-label>
            <ion-input class="ion-text-right" formControlName="ported" type="number" value="{{ (log | async)?.ported }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.seaplane.active">
            <ion-label>Seaplane</ion-label>
            <ion-input class="ion-text-right" formControlName="seaplane" type="number" value="{{ (log | async)?.seaplane }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.bhv.active">
            <ion-label>BHV</ion-label>
            <ion-input class="ion-text-right" formControlName="bhv" type="number" value="{{ (log | async)?.bhv }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.mobiles.active">
            <ion-label>Mobiles</ion-label>
            <ion-input class="ion-text-right" formControlName="mobiles" type="number" value="{{ (log | async)?.mobiles }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.boeing.active">
            <ion-label>Boeing</ion-label>
            <ion-input class="ion-text-right" formControlName="boeing" type="number" value="{{ (log | async)?.boeing }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.overheadDoor.active">
            <ion-label>Overhead Door</ion-label>
            <ion-input class="ion-text-right" formControlName="overheadDoor" type="number" value="{{ (log | async)?.overheadDoor }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.wool.active">
            <ion-label>Wool</ion-label>
            <ion-input class="ion-text-right" formControlName="wool" type="number" value="{{ (log | async)?.wool }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.stationA.active">
            <ion-label>Station A</ion-label>
            <ion-input class="ion-text-right" formControlName="stationA" type="number" value="{{ (log | async)?.stationA }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.chHart.active">
            <ion-label>CH Hart</ion-label>
            <ion-input class="ion-text-right" formControlName="chHart" type="number" value="{{ (log | async)?.chHart }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.kimberley.active">
            <ion-label>Kimberley</ion-label>
            <ion-input class="ion-text-right" formControlName="kimberley" type="number" value="{{ (log | async)?.kimberley }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.viu.active">
            <ion-label>VIU</ion-label>
            <ion-input class="ion-text-right" formControlName="viu" type="number" value="{{ (log | async)?.viu }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.studentRes.active">
            <ion-label>Student Res</ion-label>
            <ion-input class="ion-text-right" formControlName="studentRes" type="number" value="{{ (log | async)?.studentRes }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.nrgh.active">
            <ion-label>NRGH</ion-label>
            <ion-input class="ion-text-right" formControlName="nrgh" type="number" value="{{ (log | async)?.nrgh }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.icbc.active">
            <ion-label>ICBC</ion-label>
            <ion-input class="ion-text-right" formControlName="icbc" type="number" value="{{ (log | async)?.icbc }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.ooa.active">
            <ion-label>OOA</ion-label>
            <ion-input class="ion-text-right" formControlName="ooa" type="number" value="{{ (log | async)?.ooa }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.sort.active">
            <ion-label>Sort</ion-label>
            <ion-input class="ion-text-right" formControlName="sort" type="number" value="{{ (log | async)?.sort }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.lateBagsAddTrip.active">
            <ion-label>Late Bags Add Trip</ion-label>
            <ion-input class="ion-text-right" formControlName="lateBagsAddTrip" type="number" value="{{ (log | async)?.lateBagsAddTrip }}"></ion-input>
          </ion-item>
          <ion-item *ngIf="activities.lateLateBags.active">
            <ion-label>Late Late Bags</ion-label>
            <ion-input class="ion-text-right" formControlName="lateLateBags" type="number" value="{{ (log | async)?.lateLateBags }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Notes:</ion-label>
            <ion-textarea autoGrow="true" formControlName="notes" value="{{ (log | async)?.notes }}"></ion-textarea>
          </ion-item>
        </ion-list>
        <section>
          <ion-button size="large" expand="block" (click)="onSubmitUpdateLog()">
            Confirm Daily Log Edit
          </ion-button>
          <ion-button size="small" expand="block" color="danger" (click)="onSubmitDeleteLog()">
            Delete this Log
          </ion-button>
        </section>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>